{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categories list</h1>
        {% for category in categories %}
            <a class="btn btn-success btn-outline category" href="{{ path('category_show', { 'id': category.id }) }}" class="btn btn-outline-primary">{{ category.name }}</a>
        {% endfor %}

    <ul>
        <li>
            <a class="btn btn-primary btn-outline" href="{{ path('category_new') }}">Create a new category</a>
        </li>
    </ul>
{% endblock %}
